.intro {
  position: relative;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}
.intro h1 {
  font-size: 4.2rem;
  font-weight: bold;
}
.intro p {
  font-size: 25.2px;
  line-height: 1.5;
  font-weight: 500;
}
.intro img {
  width: 35%;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    font-size: 16px;
  }
  .intro img {
    display: none;
  }
}
