.projects {
  padding: 3%;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  h1 {
    font-size: 20px;
    text-align: center;
  }
  .project-list {
    .project {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: rgba(0, 0, 0, 1);
      cursor: pointer;
      color: white;
      border-radius: 4px;
      margin: 50px auto;
      padding: 5%;
      min-height: 250px;
      width: 80%;
      transition: 0.4s;
      img {
        width: 100%;
      }
      a {
        font-size: 0.9rem;
        color: #fff;
        text-decoration: none;
      }
      .technologies {
        display: flex;
        cursor: pointer;
        margin-bottom: 10px;
        min-width: 50%;
        p {
          margin-right: 2%;
          border-radius: 2.5px;
          background-color: black;
          padding: 5px;
          font-size: 0.6rem;
        }
      }
    }
    .project:focus {
      outline: none !important;
    }
    .project:hover {
      background-color: black;
      width: 81%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projects {
    h1 {
      font-size: 50px;
    }
  }
  .project-list {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
  }
}
